/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: auto 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #181f2a;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3vh;
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
  background: #1c2431;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.2%;
  padding-right: 5%;
}

.nav-list a {
  margin-left: 40px;
  font-size: 15px;
}

.intro {
  margin: auto 0;
  text-align: center;
  padding-top: 2%;
  background: #1c2431;
}

.intro-illustration {
  margin: 0 auto;
}

.intro-conteudo {
  background: url("/images/bg-curvy-desktop.svg");
  background-position: -5px 60px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-conteudo h1 {
  font-size: 34px;
  font-weight: 700;
  width: 100%;
}

.intro-conteudo p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 2%;
  text-align: center;
}

.intro-botao {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 35px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-top: 2%;
  border: none;
  cursor: pointer;
}

.intro-botao:hover {
  background: -webkit-gradient(linear, left top, right top, from(#29d6cb), to(#85c5e0));
  background: linear-gradient(to right, #29d6cb, #85c5e0);
}

.section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2em 5%;
  margin-left: 100px;
}

.sub-section-grid {
  max-width: 500px;
  text-align: center;
}

.sub-section-grid h2 {
  margin-top: 20px;
  font-size: 20px;
}

.sub-section-grid p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.3em;
}

.sub-section-grid {
  margin-top: 50px;
}

.icone-grid {
  margin: 0 auto;
}

.section-produto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px 60px;
}

.stay-img {
  min-width: 350px;
  height: auto;
}

.sub-section-produto {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-section-produto h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sub-section-produto p {
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.sub-section-produto a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans' sans-serif;
  font-weight: 400;
  color: #65e2d9;
  cursor: pointer;
}

.sub-section-produto img {
  display: inline-block;
}

.blockquote {
  z-index: 1;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
}

.container-card {
  position: relative;
  z-index: 3;
}

.card {
  -webkit-box-shadow: 5px 5px 10px #1c2431;
          box-shadow: 5px 5px 10px #1c2431;
  background-color: #202a3c;
  padding: 40px 40px;
}

.card-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.card-profile img {
  border-radius: 50%;
  max-width: 40px;
  margin-right: 15px;
}

.profile-detalhes h3 {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.profile-detalhes p {
  font-size: 12px;
}

.get-early {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 5%;
  -webkit-box-shadow: 5px 5px 20px #181f2a;
          box-shadow: 5px 5px 20px #181f2a;
  height: auto;
  background-color: #1a212e;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10% auto 8% auto;
}

.get-early h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.get-early p {
  text-align: center;
  max-width: 800px;
  font-size: 15px;
  margin-bottom: 20px;
}

.contact-email {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-mail {
  border-radius: 25px;
  padding: 20px 30px;
  width: 500px;
  outline: none;
  margin-right: 4%;
}

.button-email {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 30px;
  outline: none;
  color: white;
  font-weight: 400;
  width: 200px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.button-email:hover {
  background: -webkit-gradient(linear, left top, right top, from(#29d6cb), to(#85c5e0));
  background: linear-gradient(to right, #29d6cb, #85c5e0);
}

.info {
  margin: 2% auto 5% auto;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.info-content color:white span {
  line-height: 1.3em;
}

.info-item-contact img,
p {
  display: inline-block;
}

.info-item-contact li:nth-child(2) {
  margin-top: 15px;
}

.info-content ul li a {
  text-decoration: none;
  color: white;
  line-height: 2em;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media ul li:nth-child(n + 1) {
  margin-right: 20px;
}

.social-media ul li:nth-child(n + 1) img {
  max-width: 20px;
}

.img-footer {
  max-width: 100%;
  margin-left: 12%;
}
/*# sourceMappingURL=style.css.map */