@import 'reset';
@import 'cores';

* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $cor-primaria-dark-blue-claro;
  color: $cor-texto;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 3vh;
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
  background: $cor-primaria-dark-blue-medio;

  ul {
    list-style: none;

    a {
      text-decoration: none;
      color: $cor-texto;
    }
  }
}

.nav-list {
  display: flex;
  padding-top: 1.2%;
  padding-right: 5%;

  a {
    margin-left: 40px;
    font-size: 15px;
  }
}

.intro {
  margin: auto 0;
  text-align: center;
  padding-top: 2%;
  background: $cor-primaria-dark-blue-medio;
}

.intro-illustration {
  margin: 0 auto;
}

.intro-conteudo {
  background: url('/images/bg-curvy-desktop.svg');
  background-position: -5px 60px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 34px;
    font-weight: 700;
    width: 100%;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
  }
}

.intro-botao {
  background: $cor-ciano-blue;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 35px;
  color: $cor-texto;
  font-size: 18px;
  font-weight: 700;
  margin-top: 2%;
  border: none;
  cursor: pointer;
  &:hover {
    background: ($cor-ciano-blue-hover);
  }
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2em 5%;
  margin-left: 100px;
}

.sub-section-grid {
  max-width: 500px;
  text-align: center;

  h2 {
    margin-top: 20px;
    font-size: 20px;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.3em;
  }
}

.sub-section-grid {
  margin-top: 50px;
}

.icone-grid {
  margin: 0 auto;
}

.section-produto {
  display: flex;
  justify-content: space-around;
  margin: 100px 60px;
}

.stay-img {
  min-width: 350px;
  height: auto;
}

.sub-section-produto {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    color: hsl(176, 68%, 64%);
    cursor: pointer;
  }
  img {
    display: inline-block;
  }
}

.blockquote {
  z-index: 1;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
}

.container-card {
  position: relative;
  z-index: 3;
}

.card {
  box-shadow: 5px 5px 10px hsl(217, 28%, 15%);
  background-color: hsl(219, 30%, 18%);
  padding: 40px 40px;
}

.card-profile {
  display: flex;
  margin-top: 20px;
  align-items: center;
  font-size: 14px;
}

.card-profile img {
  border-radius: 50%;
  max-width: 40px;
  margin-right: 15px;
}

.profile-detalhes {
  h3 {
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  p {
    font-size: 12px;
  }
}

.get-early {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5% 5%;
  box-shadow: 5px 5px 20px hsl(217, 28%, 13%);
  height: auto;
  background-color: hsl(218, 28%, 14%);
  width: 80%;
  align-items: center;
  margin: 10% auto 8% auto;

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
    max-width: 800px;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.contact-email {
  margin-top: 20px;
  display: flex;
}

.e-mail {
  border-radius: 25px;
  padding: 20px 30px;
  width: 500px;
  outline: none;
  margin-right: 4%;
}

.button-email {
  background: $cor-ciano-blue;
  border-radius: 30px;
  outline: none;
  color: white;
  font-weight: 400;
  width: 200px;
  padding: 15px;
  border: none;
  cursor: pointer;
  &:hover {
    background: ($cor-ciano-blue-hover);
  }
}

.info {
  margin: 2% auto 5% auto;
}

.info-content {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color:white span {
    line-height: 1.3em;
  }
}

.info-item-contact img,
p {
  display: inline-block;
}

.info-item-contact li:nth-child(2) {
  margin-top: 15px;
}

.info-content ul li a {
  text-decoration: none;
  color: $cor-texto;
  line-height: 2em;
}

.social-media ul {
  display: flex;
  li:nth-child(n + 1) {
    margin-right: 20px;
    img {
      max-width: 20px;
    }
  }
}

.img-footer {
  max-width: 100%;
  margin-left: 12%;
}
