
$cor-primaria-dark-blue-claro:hsl(218, 28%, 13%);
$cor-primaria-dark-blue-medio: hsl(218, 28%, 13%);
$cor-primaria-dark-blue-escuro: hsl(216, 53%, 9%);

$cor-primaria-dark-blue-clientes: hsl(219, 30%, 18%);

$cor-ciano-blue: linear-gradient(to right , hsl(176, 68%, 64%) , hsl(198, 60%, 50%));

$box-shadow-color:hsl(217, 28%, 15%);

$cor-texto: hsl(0, 0%, 100%);
$font-texto: 14px;

body{
    background: $cor-primaria-dark-blue-claro;
    color: $cor-texto;
    font-size: $font-texto;
    font-family: 'Open Sans', sans-serif;
} 


